@import '../../scss/colors', '../../scss/flexbox';

.input {
    border-radius: 0px;
    height: 1.5rem;
    border: 2px solid $color-primary;
    padding: 0.25rem 1rem;
    font-size: 1rem;

    &__container {
        @include flexAround(column);
    }

    &__label {
        color: $color-primary;
        font-weight: bold;
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }
}