@import '../../scss/flexbox', '../../scss/colors';

.form {
    width: 25%;
    @include flexEvenly(column);

    #{&}__button-container {
        @include flexEvenly();
    }

    #{&}__button {
        width: 35%;
        height: 2rem;
        border-radius: 10px;
        background-color: $color-secondary;
        color: $color-white;
        border: $color-primary;
        font-weight: bold;
        box-shadow: 3px 3px 10px #000;

        &:hover {
            cursor: pointer;
            background-color: $color-dark;
        }
    }

    #{&}__message {
        text-align: justify;
    }
}