@import '../../scss/colors', '../../scss/flexbox';

.container {
    flex-grow: 2;
    width: 90%;
    margin: 0 auto;

    h1 {
        text-align: center;
        color: $color-dark;
        margin: 1rem 0 2rem 0;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
    }
}

.algorithm {
    #{&}__content {        
        @include flexBetween();

        & .table__wrapper {
            width: 70%;
        }
    }
}