@import "../../scss/colors", "../../scss/flexbox";

.table {
    width: 100%;
    empty-cells: show;

    thead th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    td:first-child {
        width: 8%;
        text-align: center;
        font-weight: bold;
        background-color: rgba(100, 148, 180, 0.33);
    }

    td {
        width: 23%;
        border: 1px solid rgba(0, 0, 0, 0.15);

        span {
            display: block;
            text-align: center;
            margin: 0 auto;
        }
    }

    td:last-child {
        span {
            display: block;
            text-align: left;
            margin-left: 1rem;
        }
    }

    &__wrapper {
        position: relative;
    }

    &__scroll {
        height: 65vh;
        overflow: auto;
    }

    #{&}__header {
        height: 2rem;
        th {
            background-color: $color-secondary;
            color: $color-white;
        }
    }

    #{&}__row {
        height: 1.5rem;
        background-color: $color-white;
    }
}
